<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2021 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SR_Base::srbase">
                    <resource id="SR_Flixmedia::main" title="Flixmedia">
                        <resource id="SR_Flixmedia::srflixmedia" title="Setting" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
